################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simr_admin/.vs/
/installers
/simr_admin/restaurant/appsettings.json
/simr_admin/restaurant/bin
/simr_admin/restaurant/obj