################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/installers
/simr_admin/.vs/restaurant/FileContentIndex/2c79e675-b642-4b31-be82-500d457c576a.vsidx
